<?xml version="1.0" encoding="UTF-8"?>
<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.ionic.app" version="1.0.0">
   <name>WP Ionic</name>
   <description>Ionic app</description>
   <author href="http://scottbolinger.com" email="scott@apppresser.com">Scott Bolinger</author>
   
	<!--gap:platform name="ios" /-->
	<gap:platform name="android" />

	<preference name="phonegap-version" value="3.7.0" />
	<preference name="targetSdkVersion" value="14" />

	<gap:plugin name="onesignal-cordova-plugin-pgb-compat" source="npm" />
	<gap:plugin name="cordova-plugin-googleplayservices" source="npm" />
	<gap:plugin name="cordova-plugin-android-support-v4" source="npm" />

	<gap:plugin name="org.apache.cordova.device" />
	<gap:plugin name="org.apache.cordova.inappbrowser" />
	<gap:plugin name="org.apache.cordova.dialogs" />
	<gap:plugin name="com.phonegap.plugin.statusbar" />
	<gap:plugin name="nl.x-services.plugins.socialsharing" />
	<gap:plugin name="com.sharinglabs.cordova.plugin.cache" version="1.0.0" />
	<gap:plugin name="org.apache.cordova.file" version="1.3.3" />
	<gap:plugin name="org.apache.cordova.file-transfer" version="0.5.0" />
	<gap:plugin name="cordova-plugin-x-toast" source="npm" />

	<preference name="StatusBarOverlaysWebView" value="true" />
	<preference name="keyboardDisplayRequiresUserAction" value="false" />
	<preference name="DisallowOverscroll" value="true" />

	<icon src="icon.png" />
	<content src="index.html" />
	<access origin="*" subdomains="true" />
	<access origin="mailto:*" launch-external="yes" />
	<access origin="tel:*" launch-external="yes" />

</widget>
